@charset "UTF-8";
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  margin: 0;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not() {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
  font-size: 62.5%;
  font-size: 10px;
}

body {
  width: 100%;
  min-height: 100vh;
  color: #333;
  font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic';
  font-size: 1.6rem;
  line-height: 1.7;
  overflow-x: hidden;
}

.wrap {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 16px;
}

.page_head {
  position: relative;
  margin: 20px 0 40px;
  padding: 0.5em 1em 0.5em 1.5em;
  border: 1px solid #aaa;
  color: #2e001f;
  font-size: 2.4rem;
  font-weight: normal;
}

.page_head::before {
  position: absolute;
  top: 50%;
  left: 0.75em;
  transform: translateY(-50%);
  content: "";
  width: 6px;
  height: calc(100% - 0.5em * 2);
  border-radius: 6px;
  background: #ff19be;
}

.exp {
  margin: 0 0 40px;
}

.exp p {
  margin-bottom: 1em;
}

.exp .video {
  margin-bottom: 40px;
}

.exp .video iframe {
  width: 100%;
  height: 40vw;
}

.exp a {
  padding: 0 0.2em;
  background: linear-gradient(transparent 40%, #ffd9f2 40%);
  color: #2e001f;
  text-decoration: none;
  transition: all 0.3s;
}

.exp a:hover {
  color: #ff19be;
}

.contents {
  padding: 80px 0;
  border-bottom: 1px solid #2e001f;
}

@media screen and (max-width: 480px) {
  .contents {
    padding: 60px 0;
  }
}

.contents_head {
  position: relative;
  margin-bottom: 0.5em;
  padding-bottom: 10px;
  color: #2e001f;
  font-size: 2.4rem;
  font-weight: normal;
  line-height: 1;
}

.contents_head::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background: linear-gradient(to right, #ff19be, #2e001f);
}

.contents_head span {
  display: inline-block;
  margin-right: 0.5em;
  font-size: 1.6rem;
}

.contents_lead {
  margin-bottom: 1em;
  color: #333;
}

.button_wrap {
  max-width: 400px;
  margin-bottom: 40px;
  padding: 40px 20px;
  border: 1px solid #999;
  text-align: center;
}

.summary {
  padding: 80px 0;
  border-bottom: 1px solid #2e001f;
}

@media screen and (max-width: 480px) {
  .summary {
    padding: 60px 0;
  }
}

.button {
  display: inline-block;
  padding: 18px 60px;
  border-radius: 8px;
  color: #fff;
  font-size: 1.8rem;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease-out;
}

.button.disabled {
  background: #ccc;
  pointer-events: none;
  cursor: default;
}

.button01 {
  background: #2e001f;
}

.button01:hover, .button01:active {
  opacity: 0.8;
}

.button02 {
  background: #2e001f;
}

.button02:hover, .button02:active {
  background: #ff19be;
}

.button03 {
  border: 3px solid #2e001f;
  background: #2e001f;
  color: #fff;
}

.button03:hover, .button03:active {
  background: #fff;
  color: #2e001f;
}

.button04 {
  border: 3px solid #2e001f;
  background: #fff;
  color: #2e001f;
}

.button04:hover, .button04:active {
  background: #2e001f;
  color: #fff;
}

.button05 {
  position: relative;
  background: #2e001f;
  overflow: hidden;
  z-index: 2;
}

.button05::after {
  position: absolute;
  top: 0;
  left: -100%;
  z-index: -1;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: #ff19be;
  transition: all 0.3s ease-out;
}

.button05:hover::after, .button05:active::after {
  left: 0;
}

.button06 {
  position: relative;
  background: #2e001f;
  overflow: hidden;
  z-index: 2;
}

.button06::after {
  position: absolute;
  top: -100%;
  left: 0;
  z-index: -1;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: #ff19be;
  transition: all 0.3s ease-out;
}

.button06:hover::after, .button06:active::after {
  top: 0;
}

.button07 {
  position: relative;
  background: #2e001f;
  overflow: hidden;
  z-index: 2;
}

.button07::before, .button07::after {
  position: absolute;
  top: 0;
  z-index: -1;
  content: "";
  display: block;
  width: 0;
  height: 100%;
  background: #ff19be;
  transition: all 0.3s ease-out;
}

.button07::before {
  left: 0;
}

.button07::after {
  right: 0;
}

.button07:hover::before, .button07:hover::after, .button07:active::before, .button07:active::after {
  width: 50%;
}

.button08 {
  position: relative;
  background: #2e001f;
  overflow: hidden;
  z-index: 2;
}

.button08::before, .button08::after {
  position: absolute;
  left: 0;
  z-index: -1;
  content: "";
  display: block;
  width: 100%;
  height: 0;
  background: #ff19be;
  transition: all 0.3s ease-out;
}

.button08::before {
  top: 0;
}

.button08::after {
  bottom: 0;
}

.button08:hover::before, .button08:hover::after, .button08:active::before, .button08:active::after {
  height: 50%;
}

.button09 {
  position: relative;
  background: #ff19be;
  overflow: hidden;
  z-index: 2;
}

.button09::before, .button09::after {
  position: absolute;
  top: 0;
  z-index: -1;
  content: "";
  display: block;
  width: 50%;
  height: 100%;
  background: #2e001f;
  transition: all 0.3s ease-out;
}

.button09::before {
  left: 0;
}

.button09::after {
  right: 0;
}

.button09:hover::before, .button09:hover::after, .button09:active::before, .button09:active::after {
  width: 0;
}

.button10 {
  position: relative;
  background: #ff19be;
  overflow: hidden;
  z-index: 2;
}

.button10::before, .button10::after {
  position: absolute;
  left: 0;
  z-index: -1;
  content: "";
  display: block;
  width: 100%;
  height: 50%;
  background: #2e001f;
  transition: all 0.3s ease-out;
}

.button10::before {
  top: 0;
}

.button10::after {
  bottom: 0;
}

.button10:hover::before, .button10:hover::after, .button10:active::before, .button10:active::after {
  height: 0;
}

.button11 {
  width: 200px;
  padding: 18px;
  background: #2e001f;
}

.button11:hover, .button11:active {
  letter-spacing: 0.2em;
}
/*# sourceMappingURL=common.css.map */
